/*********************************************************

rb-sticky
----------------------------------------------------------

**********************************************************/
$stickyJSCFG: (
	watchCSS: false,
	container: 'positionedParent', // false || 'parent' || 'positionedParent'/'offsetParent' || '.selector'
	disabled: false,
	topOffset: false, //false or number: you can also use css top (if static positioned)
	bottomOffset: false, //false or number: you can also use css bottom (if static positioned)
);

.rb-sticky {


	@if function-exists(rbToJSON) {
		//@include exportToJS($stickyJSCFG);
	}

	/* important set properties shouldn't be changed, use an outer or inner element to apply does styles */

	float: none !important;
	left: auto !important;
	right: auto !important;
	border: none !important;
	padding: 0 !important;
	position: static;

	top: 0;
	bottom: auto;
	margin-left: 0;
	margin-right: 0;

	background: #333;
	color: #f1f1f1;
	height: 100px;

	&.is-fixed {
		position: fixed !important;
	}

	&.is-top-15 {
		top: 15px;
	}

	&.is-bottom-15 {
		top: auto;
		bottom: 15px;
	}

	&[data-progress] {

		height: auto;

		.sticky-element {
			font-size: 18px;
			min-height: 100px;

			@if function-exists(rbToJSON) {
				@include exportToJS((
					fontSize: 12,
					minHeight: 50,
				));
			}
		}
	}
}

